body{
  font-family: 'Artifika', serif;
}
#logo{
  width:100px;
  height:100px;
  background-color: transparent;
  -webkit-animation : rot 2s ease infinite;
  margin-top: 20px;
}
@keyframes rot {
    from{transform: rotate(0deg);}

    50%{transform: rotate(-180deg);}

   to {transform: rotate(-360deg);}
}

#bandeau {
  background-image: url("../image/num.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}
#header{
  text-align:center;
  border:3px dashed;
  width:100%;
  margin:20px;
  border-radius: 20%;
}
#entete{
  display: flex;
  background-color: aquamarine;
}
nav ul {
  display: flex;
  padding-bottom: 20px;
}
div + nav ul li{
  width:150px;
  list-style-type: none;
  font-family: 'Artifika', serif;
  background-image: url("../image/orange.jpg");
}

@-webkit-keyframes rebond1 {
    from { top : 30px ; }
    80% { top : 600px ; }
    90% { top : 550px ; }
    to { top : 600px ; }
}
@-webkit-keyframes rebond2 {
    from { left : 10% ; }
    80% { left : 40% ; }
    90% { left : 30% ; }
    to { left : 40% ; }
}
@-webkit-keyframes rebond3 {
    from { left : 90% ; }
    80% { left : 40% ; }
    90% { left : 50% ; }
    to { left : 40% ; }
}
span{
  color:dimgrey;
  width:350px;
  text-align: center;
}
#bienvenue{
  font-size: 4em;
  position:absolute;
  top:600px;
  -webkit-animation: rebond1 2s ease-in;
  left:40%
}
#surmon{
  font-size: 4em;
  position:absolute;
  top:700px;
  left:40%;
  -webkit-animation: rebond2 2s ease-in;

}
#site{
  font-size: 4em;
  position:absolute;
  top:800px;
  left:40%;
  -webkit-animation: rebond3 2s ease-in;
}
main{
  border:10px solid blue;

  background-color:blanchedalmond;
  margin-top: 50px;
}

#maphoto{
  width:500px;
  height:300px;
  margin-top: 25px;
  border-radius: 50%;
}
footer{
  text-align:center;
  background-color:aquamarine;
  padding: 20px;
  margin-top:50px;
}
#exp li{
  width:100%;
  font-size: 1em;
}
#num{
  float: right;
  margin-top: 50px;
}
#form{
  border:5px solid aquamarine;
  border-radius: 20px;
  margin-bottom: 50px;
  text-align: center;
  width:60%;
  margin-left: 50px;
}
section{
  display: flex;
}
aside{
  border:5px solid aquamarine;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
aside img{
  width:100px;
  height: 100px;
}
