body{
  font-family: 'Artifika', serif;
  background-image: url("../image/fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#logo:first-child{
  width:100px;
  height:100px;
  animation : rot 2s ease infinite;
  margin-top: 30px;
  margin-left: 60px;
  z-index: 2;
}
#logo:last-child{
  width:100px;
  height:100px;
  animation : rot 2s ease infinite;
  margin-top: 30px;
  margin-right: 60px;
  z-index: 2;
}
#cabine{
  width: 150px;
  height:150px;
  position: absolute;
  left: 100px;
  animation : train 2S ease infinite;
}
@keyframes train {
    from { left : 100px; }
    45% { left:  : 80% ; }
    55% { left : 80% ; }
    to { left : 100px ; }
}
@keyframes rot {
    from{transform: rotate(0deg);}

    50%{transform: rotate(-180deg);}

   to {transform: rotate(-360deg);}
}

#bandeau {
  background-image: url("../image/num.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}
#header{
  text-align:center;
  width:100%;
  margin:20px;
}
#entete{
  display: flex;
  background-image: url("../image/bleu2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  position:relative;
}
nav ul {
  display: flex;
  padding-left: 0px;
}
div + nav ul li{
  width:100%;
  list-style-type: none;
  font-family: 'Artifika', serif;
  background-color: black;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  margin-left: 0px;
}
nav ul li a {
  color: white;
}
nav ul li a:hover{
  color:red;
}
@-webkit-keyframes rebond1 {
    from { top : 30px ; }
    80% { top : 650px ; }
    90% { top : 600px ; }
    to { top : 650px ; }
}
@-webkit-keyframes rebond2 {
    from { left : 10% ; }
    80% { left : 40% ; }
    90% { left : 30% ; }
    to { left : 40% ; }
}
@-webkit-keyframes rebond3 {
    from { left : 90% ; }
    80% { left : 40% ; }
    90% { left : 50% ; }
    to { left : 40% ; }
}
span{
  color:dimgrey;
  width:350px;
  text-align: center;
}
#bienvenue{
  font-size: 4em;
  position:absolute;
  top:650px;
  -webkit-animation: rebond1 2s ease-in;
  left:40%
}
#surmon{
  font-size: 4em;
  position:absolute;
  top:750px;
  left:40%;
  -webkit-animation: rebond2 2s ease-in;

}
#site{
  font-size: 4em;
  position:absolute;
  top:850px;
  left:40%;
  -webkit-animation: rebond3 2s ease-in;
}
main{
  border:10px solid blue;

  background-color:blanchedalmond;
  margin-top: 50px;
}

#maphoto{
  width:500px;
  height:300px;
  margin-top: 25px;
  border-radius: 50%;
}
footer{
  text-align:center;
  background-image: url("../image/bleu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin-top:50px;
  color: white;
}
#exp li{
  width:100%;
  font-size: 1em;
}
#num{
  float: right;
  margin-top: 50px;
}
#form{
  margin-bottom: 50px;
  text-align: center;
  width:60%;
  margin-left: 50px;
  background-color: #4B3763;
  color: white;
  transform: rotate(-3deg);
}
section{
  display: flex;
}
aside{
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  align-content: space-around;
  justify-content: space-around;
  background-color: #C8BCD8;
  max-width: 600px;
  transform: rotate(3deg);
}
aside img{
  width:150px;
  height: 150px;
}
footer p a{
  color:black;
}
footer p a:hover{
  color: red;
}
#form h2{
  text-transform: uppercase;
}
#form h2:nth-child(1){
  color:red;
}
#form h2:nth-child(4){
  color:green;
}
#form h2:nth-child(11){
  color:black;
}
